.body{
    margin: 0px;
    
    
    
}
.navbar{
   
    margin:3px 3px;
    display: block;
    nav-down: auto;
}
ul{
    float: right;
    list-style: none;
    margin: 25px;
    
    

}
ul li{

    display: inline-block;
    background-color: deeppink;
    
    

}
ul li a{
    text-decoration: none;
    color: black;
    padding: 15px 30px 15px 30px;
    
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: brown;
    color:yellow;
}
.logo{
    height: 65px;
    width: 65px;
    position: relative;
    left:50px;
    top:5px;
}
.worktop{
    display: inline-block;
    position: relative;
    background-color: pink;
    width: 100%;
    height: 275px;

}   
.cloud1{
    position: relative;
    height: 200px;
    width: 250px;
    left: 200px;
    bottom: 10px;
}
.work{
    position: relative;
    text-align: center;
    color: purple;
    bottom:120px

}
.cloud2{
    
        position: relative;
        height: 200px;
        width: 250px;
        left: 900px;
        bottom: 300px;

}
.flag1{
    position: relative;
    width: 60px;
    height:80px;
    bottom: 210px;
    left: 200px;
}
.flag2{
    position: relative;
    width: 60px;
    height:80px;
    bottom: 210px;
    left: 550px;

}
.mid{
    position: relative;
    width: 100%;

}
.pencil{
    margin-top: 200px;
    width: 60px;
    height: 70px;
    position: relative;
    left: 650px;
    bottom: 400px;
    padding: 30px;
}
.title{
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    color: purple;
    position: relative;
    left: 420px;
    bottom: 380px;


}
.description{
   
        font-family: 'Courier New', Courier, monospace;
        display: inline-block;
        color:navy;
        font-size: 15px;
        position: relative;
        right:90px;
        bottom:320px;

}
.pencil1{
    height: 40px;
    width: 40px;
    position: relative;
    display: inline-block;
    left: 350px;
    bottom: 150px;

}



.title4{
    font-size: 25px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 600px;
    bottom: 120px;
    color: purple;
}


    .foot{
        display: block;
        background-color: pink;
        position: relative;
        height: 180px;
    
    }
    .socialmedia{
        font-family: 'Courier New', Courier, monospace;
        position: relative;
        color: rebeccapurple;
        text-decoration: none;
        padding: 20px;
        padding-bottom: 30px;
        font-size: small;
        right: 20px;
        top: 70px;
    
    
    
    }
    .socialmedia1{
        font-family: 'Courier New', Courier, monospace;
        position: relative;
        color: rebeccapurple;
        text-decoration: none;
        padding: 20px;
        padding-bottom: 30px;
        font-size: small;
        right:20px;
        top:60px;
    
    
    }
    
    